# Configurações do Ambiente de Execução
ENVIRONMENT=development
LOG_LEVEL=INFO

# Parâmetros de Ingestão da API ANEEL (Indicadores de Continuidade DEC/FEC 2020-2029)
ANEEL_RESOURCE_ID=4493985c-baea-429c-9df5-3030422c71d7
ANEEL_API_BASE_URL=https://dadosabertos.aneel.gov.br/api/3/action/datastore_search


# Parâmetros de Ingestão ENEM
ENEM_SOURCE_PATH=data/raw/enem_microdados.csv
UF_TARGET=PA

# Configurações de Modelagem Anti-Leakage
RANDOM_SEED=42
T0_DATE=2024-07-31
